@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.formk {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0px;
  background-color: #ecec27fc;
  color: #b8d8e9;
  margin-top: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(224, 13, 13, 0.82);
  box-shadow: 5px 5px 15px 5px rgba(224, 13, 13, 0.82);
  @media (min-width: 600px) {
    width: 80%;
    margin: 0px auto;
  }
}
.formk > :nth-child(1n) {
  width: 80%;
}
