<div style="width: 100%">
    <form [formGroup]="RegisterForm" (ngSubmit)="registerNewUser()" class="formk">
        <mat-form-field class="example-full-width padd">
            <input matInput placeholder="Ім'я" formControlName="firstName">
        </mat-form-field>

        <mat-form-field class="example-full-width padd">
            <input matInput placeholder="Прізвище" formControlName="lastName">
        </mat-form-field>

        <mat-form-field class="example-full-width padd">
            <input type="text" matInput placeholder="Електронна пошта" formControlName="email">
        </mat-form-field>

        <mat-form-field class="example-full-width padd">
            <input type="password" matInput placeholder="Пароль" formControlName="password">
        </mat-form-field>

        <mat-form-field class="example-full-width padd">
            <mat-label>Група</mat-label>
            <mat-select formControlName="userGroup">
                <mat-option *ngFor="let item of groups" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color='primary' type="submit">Зареєструватися!</button>
    </form>

</div>