<div>
    <mat-card class="avatar-menu">
        <a mat-button routerLink="/">
            <mat-icon style='color:rgba(224, 13, 13, 0.82)' aria-hidden="false">home</mat-icon>
        </a>
        <span class="welcome">{{loginWelcome}}</span>
        <div *ngIf="check ; else login" style="display: flex; flex-direction: row">
            <div mat-card-avatar class="example-header-image" [matMenuTriggerFor]="beforeMenu"
                [ngStyle]="{'background-image': avatar}">
            </div>
        </div>
        <ng-template #login>
            <a mat-button routerLink="/" class="button">
                Авторизуватися
            </a>
        </ng-template>
    </mat-card>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <div *ngIf="!check">
            <button mat-menu-item disabled=true>Увійдіть у систему</button>
        </div>
        <div *ngIf="admin">
            <button mat-menu-item routerLink="/admin">Панель Керування</button>
        </div>
        <!-- <div *ngIf="check">
                <a mat-menu-item routerLink="/profile">Профіль</a>
            </div> -->
        <div *ngIf="check">
            <button mat-menu-item routerLink="/" (click)="logout()">Завершити сессію</button>
        </div>
    </mat-menu>
</div>