<div>
    <div>
        <mat-card class="avatar-menu">
            <a mat-button routerLink="/" class="button" style="font-size: 20px;align-self: center;">
                <mat-icon aria-hidden="false">home</mat-icon>
            </a>
            <input matInput placeholder={{loginWelcome}} disabled class="welcome">
            <div style="display: flex; flex-direction: row">
                <button mat-flat-button [matMenuTriggerFor]="beforeMenu">
                    <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': avatar}">
                    </div>
                </button>
            </div>
        </mat-card>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item routerLink="/admin">Панель Керування</button>
            <a mat-menu-item routerLink="/profile">Профіль</a>
            <button mat-menu-item routerLink="/" (click)="logout()">Завершити сессію</button>
        </mat-menu>
    </div>
</div>