$bg_col: yellow;
$bg_col1: red;

.header-layout {
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(187, 187, 187, 0.82);
  box-shadow: 5px 5px 15px 5px rgba(187, 187, 187, 0.82);
}

.menu-icon {
  color: #1791e2;
  cursor: pointer;
  width: 6vw;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 10%;
}

.login-form {
  text-align: end;
  display: flex;

  justify-content: space-between;
}
.button {
  line-height: 20px;
  font-size: 12px;
}
.example-header-image {
  background-size: 100%;
}

.avatar-menu {
  display: flex;
  justify-content: space-between;
}

.welcome {
  align-self: center;
}
