<div class="header-layout">
    <mat-icon class="menu-icon" aria-hidden="false" routerLink="/">home</mat-icon>
    <div *ngIf="check ; else login" class="menu-icon" [matMenuTriggerFor]="beforeMenu">
        <mat-icon>menu</mat-icon>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <div *ngIf="!check">
                <button mat-menu-item disabled=true>Увійдіть у систему</button>
            </div>
            <div *ngIf="admin">
                <button mat-menu-item routerLink="/admin">Панель Керування</button>
            </div>
            <!-- <div *ngIf="check">
                    <a mat-menu-item routerLink="/profile">Профіль</a>
                </div> -->
            <div *ngIf="check">
                <button mat-menu-item routerLink="/" (click)="logout()">Завершити сессію</button>
            </div>
        </mat-menu>
    </div>
    <ng-template #login>
        <a mat-button routerLink="/" class="button">
            Авторизуватися
        </a>
    </ng-template>
</div>