<ng-container *ngIf="isTestAvalible; else elseTemplate">
    <ng-container *ngIf="testStart; else testInfo">
        <app-beggin-test></app-beggin-test>
    </ng-container>
    <ng-template #testInfo>
        <div class="testOverview">
            <span>
                Назва : {{results.title}}
            </span>
            <span>
                Кількість питаннь : {{results.questions.length}}
            </span>
            <span>
                Тривалість тесту : {{results.duration}}
            </span>
        </div>
        <button mat-raised-button (click)='begginTest()'>Почати тест</button>
    </ng-template>
</ng-container>

<ng-template #elseTemplate>
    <button mat-raised-button (click)='checkForTest()' class="refreshButton">Оновити</button>
</ng-template>