@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.questionTitle {
  align-self: center;
  width: 100%;
  text-align: center;
}
.q-text {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: "Helvetica Neue", sans-serif;
}
.quantity {
  width: 50%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-quantity {
  display: flex;
  justify-content: space-between;
  width: 36%;
  align-items: center;
}
.head-row {
  text-align: center;
}
.table-content-row {
  text-align: center;
}

.quantityButton {
  min-width: 26px;
  min-height: 26px;
}
.top-head {
  background-color: #1791e2;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tests-table {
  margin-top: 10px;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(87, 85, 85, 0.82);
  box-shadow: 0px 3px 4px 0px rgba(87, 85, 85, 0.82);
}
.add-button {
  padding: 0 10px;
  height: fit-content;
  align-self: center;
}
.search-field {
  padding: 0px;
}
.dialog-panel {
  background-color: lightcyan;
}
.answers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0px auto;
  }
}
.search {
  width: 50%;
  display: block;
  margin: 0px auto;
  text-align: center;
}
.typeofAnswer {
  margin-right: 10px;
}

.spinner {
  position: absolute;
  left: 47%;
  top: 30%;
}
