<div>
    <form [formGroup]="AddTestForm" (ngSubmit)="onSubmit()" class="login-form">
        <div style="display: flex ; flex-direction: column">
            <mat-form-field class="example-full-width padd">
                <input type="text" matInput placeholder="Назва тесту" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Тривалість тесту</mat-label>
                <mat-select [formControl]="testLengthControl">
                    <mat-option *ngFor="let item of testLength" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="quantity">
                <mat-label class="q-text">Кількість питаннь</mat-label>
                <div class="select-quantity">
                    <button type="button" mat-raised-button color="primary" class="quantityButton"
                        (click)='incrementQuestions()'>+</button>
                    <mat-label>{{selected}}</mat-label>
                    <button type="button" mat-raised-button color="primary" class="quantityButton"
                        (click)='decrementQuestions()'>-</button>
                </div>
            </div>
            <form [formGroup]="Questions" class="login-form">
                <div *ngFor="let q1 of arrayQ">
                    <mat-form-field class="questionTitle">
                        <input type="text" matInput placeholder="Питання {{q1+1}}" formControlName="question{{q1+1}}">
                    </mat-form-field>
                    <div class="answers">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Відповідь 1(правильна)"
                                formControlName="question{{q1+1}}Answer1">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Відповідь 2"
                                formControlName="question{{q1+1}}Answer2">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Відповідь 3"
                                formControlName="question{{q1+1}}Answer3">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Відповідь 4"
                                formControlName="question{{q1+1}}Answer4">
                        </mat-form-field>
                    </div>
                </div>
            </form>

            <button mat-raised-button color="primary" type="submit" gool class="button">Додати тест</button>
        </div>
    </form>
</div>