@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$bg_col: rgb(255, 210, 88);

.headder {
  height: 10%;
  background-color: $bg_col;
}

.mainContainer {
  background-image: url("../assets/shared/images/bg.jpg");
  /* Full height */
  height: 90.5%;
  overflow: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
.cdk-overlay-pane {
  background-color: aqua !important;
}
