@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.example-radio-button {
  margin: 5px;
}

.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../../assets/1111.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.next {
  position: absolute;
  bottom: 20vh;
  margin: auto;
  color: cornflowerblue;
}

.text-r {
  font-style: italic;
  position: absolute !important;
  top: 30vh !important;
  left: 24vw !important;
}

.time-close-container {
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 50vh;
  word-break: break-all;
  @media (max-width: 600px) {
    font-size: 12px;
  }
}

.questions {
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif !important;
}

.title {
  font-size: 1.3em;
  color: black;
  align-self: center;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif !important;
  align-items: flex-start;
  padding: 10px 5%;
  font-size: 1em;
  @media (min-width: 600px) {
    flex-direction: row;
    align-items: center;
  }
}
.radio {
  font-size: 1em;
  width: 25%;
  padding: 5px;
  font-family: "Times New Roman", Times, serif !important;
  font-style: italic;
  @media (min-width: 600px) {
    width: 100%;
  }
}
.questionTitle {
  font-size: 1.5em;
  font-style: italic;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.steps {
  background: transparent;
}

::ng-deep {
  .mat-horizontal-stepper-header-container {
    display: none !important;
  }
}

.nav-but {
  text-align: center;
}
