<div *ngIf="loading;else profileData">
    <mat-spinner class="spinner"></mat-spinner>
</div>
<ng-template #profileData>
    <div class="main">
        <div class="main-left-side">
            <img class="avatar" src="{{avatar}}" alt="s">
            <input class="file-select" accept="image/*" id="text-button-file" type="file" />
            <button mat-raised-button (click)='UploadAvatar()'>Upload new Avatar</button>
        </div>
        <div class="main-right-side">
            <span class="user-fields">
                E-mail : {{user.username}}
            </span>
            <mat-divider></mat-divider>
            <span class="user-fields">
                User's name : {{user.firstName}}
            </span>
            <mat-divider></mat-divider>
            <span class="user-fields">
                Group: {{user.userGroup}}
            </span>
        </div>
        <div class="profile-container"></div>
    </div>
</ng-template>