@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.main {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-left-side {
    width: 40%;
    display: inherit;
    flex-direction: column;
    align-items: center;
  }
  &-right-side {
    width: 40%;
    display: inherit;
    flex-direction: column;
  }
}
.file-select {
  max-width: 100%;
}
.avatar {
  width: 200px;
  height: 200px;
  padding: 5px;
  border-radius: 15%;
}
.user-fields {
  font-size: 1.2em;
}
.spinner {
  margin: auto;
}
